@import "tailwindcss";

body {
  -webkit-touch-callout: default;
}

.tv-noise {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.85' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  background-repeat: repeat;
  background-size: 150px 150px;
  animation: tv-static 0.2s steps(2) infinite;
  opacity: 0.2;
}

@keyframes tv-static {
  0% { background-position: 0 0; }
  10% { background-position: -5% -5%; }
  20% { background-position: -10% 5%; }
  30% { background-position: 5% -10%; }
  40% { background-position: -5% 15%; }
  50% { background-position: -10% 5%; }
  60% { background-position: 15% 0; }
  70% { background-position: 0 10%; }
  80% { background-position: -15% 0; }
  90% { background-position: 10% 5%; }
  100% { background-position: 5% 0; }
}

.typewriter-text {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  border-right: 0.15em solid white;
  animation: typing 2s steps(12, end) infinite alternate, blink-caret 0.75s step-end infinite;
  max-width: fit-content;
}

@keyframes typing {
  from { width: 0; }
  to { width: 6.5em; }
}

@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: white; }
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
